version: '3.9'
services:
  app:
    build: .
    container_name: daniels-steaks-webapp
    ports:
      - 3000:3000
    volumes:
      - .:/home/node/app
    command: sh -c "npm install && npm run build && node server/index.mjs"